/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.w-100 {
  width: 100%;
}
.p-0 {
  padding: 0;
}
.danger {
  background-color: red;
  color: white;
}
.success {
  background-color: rgb(76, 175, 80);
  color: white;
}
